In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([1, 2, 3, 4, 5] , index = [1, 2, 3, 4, 5])

In [4]:
print(s1[(s1 > 1 )&(s1 < 4)])

2    2
3    3
dtype: int64

In [5]:
s2 = pd.Series([1, 2, 3, 4, 5] , index=[5, 4, 3, 2, 1])

In [6]:
print(s2.index)
print(s2.values)

Index([5, 4, 3, 2, 1], dtype='int64')
[1 2 3 4 5]

In [7]:
print(s2.iloc[1])

2

In [8]:
s1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [9]:
df1 = pd.DataFrame({'first':s1 , '2nd':s2})
df1

   first  2nd
1      1    5
2      2    4
3      3    3
4      4    2
5      5    1

In [10]:
df1.T

       1  2  3  4  5
first  1  2  3  4  5
2nd    5  4  3  2  1