In [ ]:
import pandas as pd
from pandas import DataFrame

In [ ]:
ls = [
    ("2023-04-01", 18),
    ("2023-04-02", 20),
    ("2023-04-03", 15),
    ("2023-04-04", 12),
    ("2023-04-05", 17),
    ("2023-04-06", 22),
    ("2023-04-07", 25),
    ("2023-05-09", 25),
]

time1 = [ls[i][0] for i in range(len(ls))]
temp1 = [ls[i][1] for i in range(len(ls))]

In [3]:
df1: DataFrame= pd.DataFrame({'time':time1,
                    'temperature':temp1},
                   index=range(1,len(ls) + 1))
df1

         time  temperature
1  2023-04-01           18
2  2023-04-02           20
3  2023-04-03           15
4  2023-04-04           12
5  2023-04-05           17
6  2023-04-06           22
7  2023-04-07           25
8  2023-05-09           25

In [4]:
df1['time'].describe()

count              8
unique             8
top       2023-04-01
freq               1
Name: time, dtype: object

In [8]:
df1.describe()

       temperature
count     8.000000
mean     19.250000
std       4.652188
min      12.000000
25%      16.500000
50%      19.000000
75%      22.750000
max      25.000000