In [2]:
import pandas as pd

yuanma = [{'title': '惊魂记',
           'score': '9.0',
           'release': '1960-06-16'},
          {'title': '电锯惊魂',
           'score': '8.7',
           'release': '2004-01-19'},
          {'title': '卡里加里博士的小屋',
           'score': '8.9',
           'release': '1920-02-26'}]
title_list = []
score_list = []
release_list = []

for dic in yuanma:
    title_list.append(dic['title'])
    score_list.append(dic['score'])
    release_list.append(dic['release'])
df = pd.DataFrame({'title': title_list,
                   'score': score_list,
                   'release': release_list},
                  index=range(1, 1 + len(yuanma)))
df

       title score     release
1        惊魂记   9.0  1960-06-16
2       电锯惊魂   8.7  2004-01-19
3  卡里加里博士的小屋   8.9  1920-02-26